<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Komunikat wylogowania z aplikacji</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./../assets/scss/logout.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap"> 
  </head>
  <body>
      
      <p>Z względów bezpieczeństwa, z uwagi na upływ czasu - zostałeś wylogowany !</p><br>
      <a href="/">Powrót na stronę główną</a> 
  </body>
<script   src="./../js/index.js"></script>

</html>