
$font-size-main: 1.5vw;
$font-size-mobile: 2.8vw;

body {
  background-color: #B2EEF3;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-main;
  text-align: center;
}
/* unvisited link */
a:link {
  color: darkblue;
}

/* visited link */
a:visited {
  color: violet;
}

/* mouse over link */
a:hover {
  background-color: grey;
  font-size: $font-size-main + 0.1vw;
}

/* selected link */
a:active {
  font-weight: bold;
}

/* ============================   max-width: 600px          ========================= */
@media screen and (max-width: 600px){
  body {
    font-size: $font-size-mobile;
    width: 80%;
    margin: 10vw auto;
    text-align: center;
  }
  a:hover {
    font-size: $font-size-mobile + 0.1vw;
  }

}
